---
title: "{{ values.front_matter.title|capitalize }}"
date: {{ values.front_matter.date }}
publishDate: {{ values.front_matter.publishDate }}
author: "{{ values.front_matter.author|capitalize }}"
description: "{{ values.front_matter.description }}"
keywords: {{ values.front_matter.keywords }}
categories: "{{ values.front_matter.categories }}"
tags: {{ values.front_matter.tags }}
logo: "{{ values.front_matter.logo }}"
toc: {{ values.front_matter.toc }}
draft: {{ values.front_matter.draft }}
---

![{{ values.box.box_name|capitalize }}](write-up/htb/{{ values.box.box_name|lower }}/img/description.png)

## TL;DR

- <>
- <>

## User.txt

### Reconnaissance

Let's start by a *Nmap* scan:

```bash
{{ values.parameters.author|lower }}@funcMyLife:~/{{ values.box.box_name|lower }}$ nmap -sS -sV -sC -p- -vvv --min-rate 5000 --reason -oN {{ values.box.box_name|lower }}.txt {{ values.box.ip }}
{{ values.nmap }}
```

So we find <> useful services:
- <>

The website is <>

![Website](write-up/htb/{{ values.box.box_name|lower }}/img/website.png)

### <>

```bash
{{ values.parameters.author|lower }}@funcMyLife:~/{{ values.box.box_name|lower }}$
```

## I AM ROOT

### <>

<>, thanks {% for item in values.box.creators %}[{{ item.name|capitalize }}]({{ item.url }}) {% endfor %}for the box!
